html {
  background: black;
  color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

input {
  padding: 0.3em;
  margin: 0.5em;
  font-size: 0.65em;
}

button {
  font-size: 1em;
}

/* ------------------ */

.empty-space {
  margin-top: -1em;
}

.real-inputs {
  width: 4em;
}

.big-inputs {
  width: 11em;
}


.inputs {
  font-size: 1em;
}

.id-all {
  font-size: 0.6em;
  padding: 0.3em;
  border: 1px solid white;
  border-radius: 4px;
  justify-self: center;

  margin: auto;
  display: none;
}

.heady {
  color: pink;
  font-size: 1em;
  margin-bottom: -2px;
}

.header {
  font-size: 1.3em;
  margin-top: -0.2em;
  color: pink;
}

header {
  display: grid;
  grid-template-columns: 1fr;
}

header,
footer {
  margin: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.duct-info{
  display: flex;
  flex-direction: column;
}


.grid-span {
  display: grid;
  justify-content: center;
  grid-gap: 0.1em;
}

.input-wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.thing-show {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-column: 2/3;
  grid-gap: 0.1em;
}

button{
  margin: 1em;
}

#paperwork-button{
  margin-bottom: 2em;
}

/* Greater than 360px --------------------------------------------------*/

@media only screen and (min-width: 360px) {

  .thing-show {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-column: 2/3;
  }
}

/* Greater than 560px -------------------------------------------------- */

@media only screen and (min-width: 560px) {
  .thing-show{
    grid-template-columns: repeat(6,minmax(100px,1fr));
  }
  .id-all{
    font-size: 0.3em;
  }
}


/* Greater than 760px --------------------------------------------------*/

@media only screen and (min-width: 860px) {
  .grid-span {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column: 2/3;
    grid-gap: 1em;
  }
  header {
    grid-template-columns: 10em 1fr 10em;
  }
}

/* Greater than 1050px --------------------------------------------------*/

@media only screen and (min-width: 1050px) {
  footer {
    grid-template-columns: 20px 1fr 20px;
  }
  header {
    grid-template-columns: 20em 1fr 20em;
  }
}

/* Greater than 1270px --------------------------------------------------*/

/* On my pixel ruler app, on my tv, about 1550px is === 1270px */
@media only screen and (min-width: 1270px) {
  .grid-span {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
